{% extends 'homepage.html' %}

{% block titulo %}
Criar Conta
{% endblock %}

{% block body %}

<h1>Criar Conta</h1>

<form method="POST">
    {{ form.csrf_token }}

    <p>
        {{ form.email.label }}<br>
        {{ form.email() }}
    </p>

    <p>
        {{ form.username.label }}<br>
        {{ form.username() }}
    </p>

    <p>
        {{ form.senha.label }}<br>
        {{ form.senha() }}
    </p>

    <p>
        {{ form.confirmacao_senha.label }}<br>
        {{ form.confirmacao_senha() }}
    </p>

    <p>{{ form.botao_confirmacao() }}</p>
</form>

<p>Já tem conta? <a href="{{ url_for('homepage') }}">Faça Login</a></p>

{% endblock %}
