<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        Homepage
        {% endblock %}
    </title>
</head>
<body>
{% block body %}

{% block formulario %}
<form method="POST">
    {{ form.csrf_token }}

    {{ form.email.label }}
    {{ form.email() }}

    {{ form.senha.label }}
    {{ form.senha() }}

    {{ form.botao_confirmacao }}

</form>
    {% endblock %}

<h1>Meu primeiro site agora com um HTML </h1>
{% endblock %}
</body>
</html>